<!--  наследуемся от шаблона default_backup.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load i18n %}

<!-- Название у нас будет Product -->
{% block title %}
{{ product.name }}
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h2>{{ product.name|censor }}</h2>
<div>{% trans 'Category' %}: {{ product.category }}<br>
{% trans 'Description' %}: {{ product.description|censor }} <br>
{% trans 'In stock' %}: {{ product.quantity }} {% trans 'unit' %}.<br>
{% trans 'Price' %}: {{product.price }}₽ <br><br>
</div>

{% endblock content %}